.container {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  
  & ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  & li:not(:nth-child(2)):not(:nth-child(3)) {
    padding: 0.5rem 1rem;
  }
}