.container {
  display: flex;
  align-items: center;
  padding: 1rem;

  & a {
    display: flex;
    align-items: center;
  }

  & img {
    height: 55px;
    width: auto;
    object-fit: contain;
  }
}

.title {
  margin-left: 0.1rem;
}
