.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  cursor: grab;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: $themeLightPurple;
  background-color: $absoluteBlack;
}