.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: calc(100vh - 240px);
}

.wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;

  & img {
    transition: transform 0.2s linear;
  }

  &:hover {
    opacity: 0.8;

    & img {
      transform: scale(1.1);
    }
  }
}

.title {
  position: absolute;
  font-size: 1.25rem;
  padding: 1rem;
  font-family: inherit;
  background-color: $absoluteBlack;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-radius: 3px;
  color: $themeLightPurple;
  text-align: center;
  width: 200px;
  left: calc(50% - 100px);
  top: 50%;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
