@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  height: 7px;
  width: 8px;
}
 
body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $lightGrey;
}
